.index{
font-family:arial;
background:#c6f4d6;



}

.Menu{
font-family:calibri;
background:#ff0000;



}

.Promociones{
font-family:arial;
background:#87ceeb;



}

.Ubicacion{
font-family:arial;
background:#f7dc6f;



}